<div class="container">
    <br>
    <!--  <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2 mt-2 ">
          <label>Nom formation</label>
          <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
          </div>
          </form> -->
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Université en tapant</label>
            <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control">
        </div>
    </form>
        
    <br>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr> 
                    <th>Id</th>
                    <th>Nom</th> 
                    <th>Adresse</th> 
                    <th>Date Création</th>
                    <th>Nombre des étudiants</th> 
                    <th>Domaines</th>
                </tr>
                <tbody *ngFor="let university of universities | searchFilter: searchTerm">
                    <tr>
                        <td>{{university.idUni}}</td>
                        <td>{{university.nomUni}}</td>
                        <td>{{university.adresseUni}}</td>
                        <td>{{university.dateCreation | date :'dd/MM/yyyy'}}</td>
                        <td>{{university.nombreEtudiants}}</td>
                        <td>{{university.domaine.nomDom}}</td>
                        <!--<td><a class="btn btn-danger" (click)="supprimerUniversity(university)">Supprimer</a></td>-->
                        <td><a *ngIf="authService.isloggedIn" class="btn btn-success" [routerLink]="['/updateUniversity',university.idUni]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
